


<div class="container" style="margin: 0 auto; text-align: center;max-width: 330px;">
    <form action="" method="POST" class="form-card">
        <h2 class="form-card-heading">BVN Verification Successful!</h2>
        <p class="text-center"> {{message.responseMessage}} </p>
        <a class="text-center" href="/">Home</a>
    </form>
</div>