


<div class="container" style="margin: 0 auto;text-align: center; max-width: 330px;">
    <form action="" method="POST" class="form-card">
        <h2 class="form-card-heading">Payment Info!</h2>
        <p class="text-center"> {{message.responsemessage}}</p>
        <p class="text-center">Payment with reference code + {{message.transactionreference}}</p>
        <a class="text-center" style="align-content: center" href="/">Home</a>
    </form>
</div>