<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>

    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/justified-nav.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/sweetalert.css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>


    <script src="/javascripts/custm.js"></script>
    <script src="/javascripts/custm2.js"></script>
    <script src="/javascripts/custm3.js"></script>
    <script src="/javascripts/tooltip.js"></script>
    <script src="/javascripts/sweetalert.min.js"></script>


</head>
<body>
{{{body}}}
</body>
</html>
