

<div class="container" style="margin: 0 auto; text-align: center;max-width: 330px;">
    <form action="" method="POST" class="form-card">
        <h2 class="form-card-heading">Successful!</h2>
        <h2 class="form-card-heading">{{message.responsemessage}}</h2>
        <p class="text-center">Payment with reference code + {{message.transactionreference}} was successful!</p>
        <a class="text-center" href="/">Home</a>
    </form>
</div>