<div class="container" style="margin: 0 auto;text-align: center; max-width: 330px;">
    <form action="" method="POST" class="form-card">
        <h2 class="form-card-heading"> Info!</h2>
        <p class="text-center"> {{message.responsemessage}}</p>
        <p class="text-center">Unique reference + {{message.uniquereference}}</p>
        <a class="text-center" style="align-content: center" href="/payApi">Home</a>
    </form>
</div>